.container__aboutImg__link{
    width: 100%;
    text-align: center;
}

.about{

    &__title{
        font-family: $JosefinSans;
        font-size:10vw;
        text-align: center;
    }

    &__content{
        font-family: $JosefinSans;
        font-weight: bold;
        font-size:1rem;
        text-align: center;
        color:$VeryDarkGray;
    }
}