@media only screen and (min-width: 600px) {
  //for desktop

  .about {
    @media only screen and (min-width: 1000px) {
      //for desktop

      position: absolute;
      z-index: 1;
      top: 730px;
      left: 500px;
      background-color: yellow;
      border: solid 2px black;
      max-width: 50vw;
      text-align: left;
      padding: 2.8rem;

      .container__aboutImg {
        width: 45rem;
        text-align: center;
      }
    } //media query end for 100px

    &__title {
      font-family: $JosefinSans;
      font-size: 3rem;
    }
    .about__content {
      font-family: $JosefinSans;
      font-size: 1.5rem;

      color: $VeryDarkGray;
    }
  }
} //media query end
