.footer{
    font-family: $JosefinSans;
    color:white;
    background-color: black;
    text-align: center;
    padding-top: 2rem;

    &__icons{
        padding-top: 2rem;
        font-size: 7vw;
    }

    &__navigation{
        padding-top: 2rem;
        &__option{
            padding:0.5rem;
            font-size: 4vw;
        }
    }
}

.copyright{
    padding-top: 1rem;
    color:$VeryDarkGray;
    font-size: 0.75rem;
    padding-bottom: 15vw;
}