@media only screen and (max-width: 600px) { //for desktop
.portfolio{
    font-family: $JosefinSans;
    &__title{
        font-size:9vw;
        text-align: center;
    }


    &__grid{


        &__card{
         position: relative;
         margin-bottom: 1rem;
     
            &__img{
             width: 100%;
            }

            &__text{
        
                position: absolute;
   
                color: white;
                font-size: 6vw;
                top:12vw;
                left:  5vw;
              
     
            }
        }

    }
}
}/*media query end*/