.portfolio{
    font-family: $JosefinSans;
    &__title{
        font-size:9vw;
        text-align: center;
    }

    &__grid{

        &__card{
            &__img{
                width: 100%;
            }

            &__text{
                position: relative;
                bottom: 20vw;
                color: white;
                font-size: 8vw;
                left:  5vw;
     
            }
        }

    }
}