@media only screen and (min-width: 600px) { //for 

    .portfolio{
        font-family: $JosefinSans;
        &__grid{
            background-color: red;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &__card{
                position: relative;

                &__text{
                position: absolute;
                color: white;
                font-size: 3vw;
                top:80%;
                left:  5vw;
              

                }
            }
            
        }
        
    }


}