@media only screen and (min-width: 600px) { //for desktop
   .main__header{
      background-color: red;
      display: flex;
      align-items:center;
      justify-content: space-between;
   }

   .header__menu__navigation__content{
      padding:10px;
   }

} //media query end