@media only screen and (max-width: 600px) {
  //for desktop
  .header {
    background: url(/images/mobile/image-hero.jpg) no-repeat center center fixed;
    //width: 100%;
    //height: 109vh;

    //TEMP START
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */

    background-size: cover;
    //TEMP END

    @media only screen and (max-width: 999px) {
      //for desktop
      .container__aboutImg__link {
        //width: 45rem;
        //text-align: center;
        // border-radius: 50%;
        width: 100%;
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 13.3rem;
    }

    &__logo {
      height: 1.6rem;
      z-index: 99;
    }

    &__slogan {
      color: white;
      font-family: $JosefinSans;
      border: 2px white solid;
      padding: 5vw;
      font-size: 10vw;
    }

    &__menu {
      //this menu is applied when hamburger menu is pressed on mobile

      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 98;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      visibility: hidden;

      &__navigation {
        color: white;
        line-height: 4rem;
        font-size: 10vw;
        font-family: $JosefinSans;
      }
    }
  }
} //end media query
