@media only screen and (min-width: 600px) { //for desktop

   .header{
      background: url(/images/desktop/image-hero.jpg) no-repeat;
      background-size: cover;
      width: 100%;
      padding-top: 3.8rem;
     height: 60vh;

      &__menu__navigation__content{
         padding-left:2vw;
         font-size: 2vw;
         font-family: $JosefinSans;
         font-weight: bold;
      }

      &__slogan{
         color:white;
         font-family: $JosefinSans;
         border:2px white solid;
         text-align: left;
         padding:3vw;
         font-size:4vw;
         width: 45vw;
         margin-top: 3.8rem;
      
      
      }
      
   }

   .main__header{
      display: flex;
      align-items:center;
      justify-content: space-between;
      color:white;
   
   }

  

} //media query end