.margin_util_leftandright{
   // margin-left: 3.125rem;
    //margin-right: 3.125rem;
    margin-left: 9.375vw;
    margin-right:9.375vw;
}

.margin_util_topandbottom{
     margin-top: 9.375vw;
     margin-bottom:9.375vw;
 }